@import "variables.less";


.navbar-nav li{
    a{
        font-weight: 500;
    }
    &:hover a{
        background: @primary;
        color: #fff!important;
    }
} 

h1,h3{
    color: @primary;
    position: relative;
    padding: 10px 0;
    &:after{
        content: '';
        display: block;
        height: 1.5px;
        width: 100%;
        background: @primary;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
h2{
    color: @primary;
}
img{
    width: 100%;
} 
.card{
    border-radius: 0px;
}
footer {
    background-color: @grey;
}

.card(@color){
    border: 1px solid @color;
    background-color: @color;
}

#classes .col-6:nth-child(1) .card {
    .card(@red);
}
#classes .col-6:nth-child(2) .card {
    .card(@primary);
}
#classes .col-6:nth-child(3) .card {
    .card(@orange);
}
#classes .col-6:nth-child(4) .card {
    .card(@green);
}