.navbar-nav li a {
  font-weight: 500;
}
.navbar-nav li:hover a {
  background: #2A74BF;
  color: #fff!important;
}
h1,
h3 {
  color: #2A74BF;
  position: relative;
  padding: 10px 0;
}
h1:after,
h3:after {
  content: '';
  display: block;
  height: 1.5px;
  width: 100%;
  background: #2A74BF;
  position: absolute;
  bottom: 0;
  left: 0;
}
h2 {
  color: #2A74BF;
}
img {
  width: 100%;
}
