* {
    box-sizing: border-box;
    font-family: "Open Sans";
}
body {
    margin: 0;
}
.header_main {
    background-image: url(../img/sample2.jpg);
    background-position: center bottom;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding: 1px;
}
.header_topelem * {
    margin: 50px;
}
.header_name {
    float: left;
}
.header_login, .header_signup {
    float: right;
} 
h1 {
    font-size: 40px;
    margin-top: 280px;
}
h1 span {
    font-size: 70px;
}
.buttons_wrapper {
    display: flex;
    justify-content: space-around;
}
.buttons_wrapper a {
    border: 3px solid white;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    margin-bottom: 100px;
    margin-top: 170px;
    padding: 15px 65px;
}
.header_angle {
    background: linear-gradient(to top right,#E8E8E8 50%, #000000 50%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "topleft topright" "bottomleft bottomright"
}
.header_content:nth-child(1) {
    grid-area: bottomleft;
    font-size: 1.2em;
}
.header_content:nth-child(2) {
    grid-area: topright;
    color: #FFFFFF;
    font-size: 0.9em;
}
.header_content {
    padding: 0 45px;
}
.articles {
    background-color: #E8E8E8;
    text-align: center;
    padding: 50px;
}
h2  span{
    font-size: normal;
}
article {
    display: flex;
    margin-bottom: 10px;
}
.article_img, .article_content {
    width: 50%;
}
.article_img {
    position: relative;
    background-size: cover;
    padding: 20px;
    width: 50%;
}
.article_img:nth-child(1){
    background-image: url(../img/sample-1.jpg);
}
.article_img:nth-child(2){
    background-image: url(../img/sample-2.jpg);
}
article .article_content {
    margin-bottom: 50px;
    font-size: 0.9em;
    padding: 35px;
}
.article_img p, .news_item p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
    font-size: 0.9em;
}
p span, label span {
    font-weight: bold;
}
.button {
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 20px;
    top: 20px;
    color: #F3F3F3;
    outline: none;
    padding: 10px;
}
.news {
    margin-top: 40px;
}
.news_items_wrapper {
    display: flex;
    justify-content: space-around;
}
.news_item:nth-child(1){
    background-image: url(../img/news-list-1.jpg);
}
.news_item:nth-child(2){
    background-image: url(../img/news-list-2.jpg);
}
.news_item:nth-child(3){
    background-image: url(../img/news-list-3.jpg);
}
.news_item:nth-child(4){
    background-image: url(../img/news-list-4.jpg);
}
.news_item {
    position: relative;
    height: 300px;
    width: 220px;
    background-size: cover;
}
.news_item .explore {
    background-color: rgba(9, 119, 116, 0.7);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 7px;
    margin: 135px 7px;
}
.news_button {
    padding: 50px;
    text-align: center;
}
.news_button button{
    width: 300px;
    height: 50px;
    outline: none;
    background-color: #097774;
    color: #ffffff;
}
.subscribe {
    background-color: #E8E8E8;
    padding: 50px 20px;
    font-size: 0.85em;
}
.subscribe form{
    text-align: right;
    margin-top: 20px;
}
.subscribe label {
    font-size: 2em;
}
.subscribe input {
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
}
.subscribe input::placeholder {
    color: black;
}
.subscribe button {
    outline: none;
    color: #FFFFFF;
    background-color: #097774;
    border: none;
    padding: 7px;
}
footer::after {
    content: "";
    clear: both;
}
footer p {
    float: left;
    font-size: 0.8em;
    color: #9E9E9E;
}
footer nav {
    float: right;
    padding-top: 15px;
}
footer nav a{
    padding: 15px;
    font-size: 0.8em;
    text-decoration: none;
    color: #000000;
}
.colors {
    color: #097774;
    color: #FFFFFF;
    color: #F3F3F3;
    color: #F0F0F0;
    color: #000000;
    color: #E8E8E8;
    color: #9E9E9E;
}