@import'_variables1';

$fonts: (
    source: 'Source Sans Pro',
    hind: 'Hind',
    fresca: 'Fresca'
);

body {
    margin: 0;
    padding: 0; 
}

*{
    box-sizing: border-box;
}

.header {
    background-image: $headerBackgroundImg;
    background-size: 100% 110%;
    height: 620px;
    border-bottom-right-radius: 40% 40%;
    padding: 20px 135px;
    .landing-logo {
        display:flex;
        margin-bottom: 60px;
        align-items: flex-start;
        text-align: center;
        font-weight: bold;
        img{
            display: block;
            width: 40px;
            height: 40px;
        }
        p {
            font-family: map-get($fonts, hind);
            font-size: 20px;
            margin:0;
            padding: 0 5px;
            span {
                display: block;
                font-size: 10px;
                font-weight: normal;
            }
        }
    }
    .header_heading {
        width: 400px;
        font-family: map-get($fonts, source);
        font-size: 60px;
        font-weight: bold;
        position: relative;
        z-index: 1;
        margin: 20px;
        &::after {
            content: "";
            display: block;
            width: 265px;
            height: 25px;
            background-color: $underline;
            position: absolute;
            bottom: 10px;
            z-index: -1;
        }
    }
    .header_text {
        white-space: pre-line;
        font-family: map-get($fonts, sourse);
    }
    .header_button {
        width: 120px;
        height: 40px;
    }
}