$headerBackgroundImg: url(../img/m-h-night.jpg);
$underline: #ff4e33;
$button: #e3ac00;
$card: #3b3f50;
$background: #21232e;
$gradientBackground: linear-gradient(to right, #dba009, #942f51);
$mainFont: 'Source Sans Pro', sans-serif;
$secondFont: 'Fresca', sans-serif;
$colorText: white;